.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #14bdee;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #adb5bd;
}

.custom_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom_scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.custom_scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #adb5bd;
}

.scrolled_login {
    top: -15px !important;
}

.header.scrolled_login .header_content .main_nav_contaner {
    padding-top: 22px;
}

input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    right: 10px;
}
